.quantityForm{
    margin: 10px 0px;
}
.quantityForm div{
    margin: 5px 0px;
}
.quantityForm div label{
    margin: 0px 10px;
    font-weight: bolder;
}
.quantityForm div input{
    width: 49px;
    padding: 4px;
    box-shadow: none;
    font-weight: bold;
}
.quantityBtn{
    float: right;
    margin: 7px 0px;
    padding: 7px 31px;
    background-color: #740c0c;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 14px;
    cursor: pointer;
}