.mealItem{
    list-style: none;
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.dishName{
    margin: 5px 0px;
    font-weight: bold;
}
.descr{
    margin: 0px 0px;
    font-style: italic;
}
.price{
    margin: 7px 0px;
    color: #c7572e;
    font-weight: bolder;
    font-size: 21px;
}