.cartBtn{
    padding: 10px 53px;
    border-radius: 18px;
    background-color: #4a0606;
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}
.cartBtn_text{
    margin: 0px 10px 0px 0px;
    font-size: 22px;
}
.cartItems_count{
    background-color: #d10a0a;
    padding: 5px 12px;
    border-radius: 12px;
    text-align: center;
    margin: 0px 0px 0px 6px;
    font-size: 18px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
}