.navbar{
    display: flex;
    padding: 10px 200px;
    justify-content: space-between;
    align-items: center;  
    background-color: #862626;
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
}
.navbar h1{
    color: white;
    font-size: 35px;
    margin: 0px;
}
header div img{
    height: 300px;
    width: 100%;
}