.navbar{
    display: flex;
    padding: 10px 200px;
    justify-content: space-between;
    align-items: center;  
    background-color: #862626;
    height: 80px;
    position: sticky;
    top: 0;
}
.navbar h1{
    color: white;
    font-size: 40px;
}
header div img{
    height: 300px;
    width: 100%;
}